@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Jost', sans-serif;
  background: var(--background) url("/cartographer.png");
  background-size: 100% auto; /* Prevents over-stretching */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
  color: #ededed;
}

:root {
  --background: #1E150A;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E150A;
    --foreground: #ededed;
  }
}
